<!DOCTYPE html>
<html>

<head>
  <title>

  </title>
 
  <!-- CSS Stylesheet -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
 
<h1><%- pageName %></h1>
<section>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/car">Cars</a></li>
    </ul>
  </nav>
  

    <h1>Car Models</h1>
    <p>Today is <%- time %> and the current logged in user is <%- user %></p>
    <p>Welcome to Car Models Page. Here you will find different car Models and their features.</p>
    
  
</section>

</body>

</html>